
#stacks_in_408_page1 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_408_page1 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_408_page1 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_438_page1 {
	text-transform: capitalize;
}

#stacks_in_437_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_440_page1 {
	font-size: 95%;
}

#stacks_in_439_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_435_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_445_page1 {
	text-transform: capitalize;
}

#stacks_in_444_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_447_page1 {
	font-size: 95%;
}

#stacks_in_446_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_442_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_452_page1 {
	text-transform: capitalize;
}

#stacks_in_451_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_454_page1 {
	font-size: 95%;
}

#stacks_in_453_page1 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_449_page1 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_408_page1 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
